@mixin  Libre-Bodoni {
    font-family: 'Libre Bodoni', serif;
  }
  
  @mixin Inria-Serif {
    font-family: 'Inria Serif', serif;
  }

  .heading {
    font-size: larger;
    @include Libre-Bodoni();
    margin-bottom: 15px;
    padding: 0px 110px;
    margin-top: 20px;
}
  
.head-section{
    display: flex;
    padding: 0px 110px;
    padding-top: 15px;
    align-items: center;
    margin-bottom: 70px;
    img{
        height: 300px;
        width: 350px;
        margin-top: 0;
        margin-right: 15px;
    }
    .text-area {
        display: flex;
        padding-top: 5px;
        
        .tag
        {
            @include Inria-Serif();
            margin-bottom: 15px;
        }
        .content {
            @include Inria-Serif();
        }
        .button {
            border-radius: 100px;
            background-color: #abb7c2ad;
            font-size: 18px;
            width: 207px;
            height: 55px;
            color: #000000;
            padding: 14px 25px;
            text-decoration: none;
            cursor: pointer;;

        }
    }

}
.poster-layout {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px 110px;
    gap: 2em;

}


@media only screen and (max-width: 600px) { 
    .poster-layout {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 5px;
        gap: 2em;
    }
    
}