.poster-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .event-details {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88px;
    background: #b6232c;
    font-family: "Gill Sans MT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #ffffff;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: -48px;
    margin-bottom: 83px;
  }
  .heading {
    font-family: "Gill Sans MT";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    width: 750px;
    .line {
      position: absolute;
      width: 287px;
      height: 18px;
      left: 790px;
      top: 485px;
      background: rgba(182, 35, 44, 0.2);
    }
  }

  .description {
    width: 736px;
    font-family: "Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    color: #000000;
    margin-top: 48px;
  }

  .description-plus-img {
    margin-top: 37px;
    display: flex;
    width: 736px;
    margin-bottom: 30px;
    img {
      width: 305px;
      height: 305px;
    }
    .image-desc {
      font-family: "Garamond";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: justify;
      color: #000000;
      margin-left: 31px;
    }
  }
}

.posters-area {
  background: rgba(229, 231, 230, 0.2);
  padding-top: 30px;
  display: flex;
  flex-direction: column;

  .heading {
    font-family: "Gill Sans MT";
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #30343f;
    margin-bottom: 20px;
  }
  .posters {
    display: flex;
    gap: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .poster-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 36px;
    .event-details {
      display: flex;
      justify-content: center;
      align-items: center;
      height: auto;
      background: #b6232c;
      font-family: "Gill Sans MT";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #ffffff;
      padding-left: 10px;
      padding-right: 10px;
      margin-left: -36px;
      margin-right: -36px;
      margin-top: -48px;
      margin-bottom: 83px;
    }
    .heading {
      font-family: "Gill Sans MT";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      width: 100%;
      .line {
        display: none;
        position: absolute;
        width: 287px;
        height: 18px;
        left: 790px;
        top: 485px;
        background: rgba(182, 35, 44, 0.2);
      }
    }

    .description {
      width: 100%;
      font-family: "Garamond";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: justify;
      color: #000000;
      margin-top: 48px;
    }

    .description-plus-img {
      margin-top: 37px;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 30px;
      img {
        width: 100%;
        height: auto;
        margin-bottom: 27px;
      }
      .image-desc {
        font-family: "Garamond";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        text-align: justify;
        color: #000000;
        margin-left: unset;
      }
    }
  }

  .posters-area {
    background: rgba(229, 231, 230, 0.2);
    padding-top: 30px;
    display: flex;
    flex-direction: column;

    .heading {
      font-family: "Gill Sans MT";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 46px;
      text-align: center;
      color: #30343f;
      margin-bottom: 20px;
    }
    .posters {
      display: flex;
      gap: 1;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}
