<!-- <div class="page-not-found">
  <img src="assets/images/404.svg" class="img-fluid"/>
  <h3>Page Under Construction</h3>
</div> -->

<div class="blog-layout">
  <div class="blog-header">
    Brown Man in Search of
    <span class="underline"> Freedom, Dignity, and Wisdom</span>
  </div>
  <div class="blog-content">
    Driven as I am by my own obsession with the state of free and open
    societies, I have also been busy writing my long-planned book. This book is
    proving to be an almost impossible project because on the one hand, I am
    integrating very different ideas to make sense of the world and on the other
    hand, it needs to make sense to the average, intelligent reader!
    <p></p>
    <p></p>
    <p>
      Here, on this page, I will share some of my ongoing efforts in the form of
      essays, videos, and presentations:
    </p>
  </div>

  <li>
    <svg
      width="25"
      height="25"
      viewBox="0 0 25 25"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.1094 0C18.7988 0 24.2188 5.41992 24.2188 12.1094C24.2188 18.7988 18.7988 24.2188 12.1094 24.2188C5.41992 24.2188 0 18.7988 0 12.1094C0 5.41992 5.41992 0 12.1094 0ZM6.44531 14.2578H12.1094V17.7197C12.1094 18.2422 12.7441 18.5059 13.1104 18.1348L18.6914 12.5244C18.9209 12.2949 18.9209 11.9287 18.6914 11.6992L13.1104 6.08398C12.7393 5.71289 12.1094 5.97656 12.1094 6.49902V9.96094H6.44531C6.12305 9.96094 5.85938 10.2246 5.85938 10.5469V13.6719C5.85938 13.9941 6.12305 14.2578 6.44531 14.2578Z"
        fill="#B6232C"
      />
    </svg>
    Educating about the stresses and vulnerabilities unique to liberal
    democratic society.
  </li>

  <div class="content-area">
    <div class="item">
      <div class="image"></div>
      <div class="text-section">
        <div class="title">The Village Idiot Blog</div>
        <div class="desc">
          How a brown man destroyed Western Civilization, liberal Democracy, his
          career, and sanity.
        </div>
        <a class="download" href="https://drive.google.com/file/d/1I7-ICmqDJJ0R8K1zjUsBJnn6UGwTw26o/view?usp=sharing">
          Download
        </a>
      </div>
    </div>
  </div>
</div>
