<div class="contact-layout">
  <div class="heading">Got questions?</div>
  <div class="desc">
    Fill the form below or
    <a href="mailto:ashok@metaculture.com">email me</a> and I’ll get back to you
    asap.
  </div>

  <form class="form" [formGroup]="contactForm">
    <span>
      <label> Name <sup class="red">*</sup> </label>
      <input type="text" class="field" formControlName="name" />
      <label> Email <sup class="red">*</sup> </label>
      <input type="text" class="field" formControlName="email" />
    </span>

    <label> Message </label>
    <textarea class="text-area" formControlName="message"></textarea>
    <button class="mt-3 btn btn-style" (click)="submit()">Submit</button>
  </form>
</div>
