.head-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .padd-image {
    padding: 60px 0px;
    padding-bottom: 58px;
    .header-image {
      width: 320px;
      height: 109px;
    }
  }

  .header-style {
    padding-bottom: 41px;
    border-bottom: 1px solid #e5e7e6;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 48px;
    .buttons-active {
      font-family: "Gill Sans MT";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #b6232c;
      margin-right: 64px;
      cursor: pointer;
    }
    .buttons {
      font-family: "Gill Sans MT";
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 23px;
      color: #30343F;
      margin-right: 64px;
      cursor: pointer;
    }
    .cart-count {
      //   background-color: #ff9900;
      color: #ff9900;
      height: auto;
      width: auto;
      padding: 1px;
      text-align: center;
      border-radius: 50%;
    }
    .space-justify {
      display: flex;
      // justify-content: space-between;
      .cart-gaurd {
        display: flex;
        img {
          height: 30px;
          width: 30px;
          transition: 300ms;
          cursor: pointer;
        }

        img:hover {
          transition: 300ms;
          height: 35px;
          width: 35px;
        }
        .cart-count {
          //   background-color: #ff9900;
          color: #ff9900;
          height: auto;
          width: auto;
          padding: 1px;
          text-align: center;
          border-radius: 50%;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .head-layout {
    .header-style {
      padding-left: 10px;
    }
  }
}
